<main id="main-content">

	<section class="usa-hero" aria-label="Introduction">
		<div class="grid-row margin-x-0">
			<div class="tablet:grid-col-8 desktop:grid-col-6">
				<div class="padding-0 tablet:padding-6">
					<div class="bg-primary-darker padding-4">
						<h1 class="usa-hero__heading text-white">Building, empowering, and supporting the United States federal workforce</h1>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="usa-section padding-top-15">
		<div class="grid-container">
			<div class="grid-row grid-gap">
				<div class="tablet:grid-col-4">
					<h2 class="margin-top-0 tablet:margin-bottom-0 text-accent-cool-darker font-sans-xl">Popular on opm.gov</h2>
					<div class="usa-prose">
						<p>OPM is honored to serve feds and their families, here are some links to popular resources OPM.gov has to offer.</p>
					</div>
				</div>
				<div class="tablet:grid-col-8">
					<div class="grid-row grid-gap-2">
						<div class="grid-col-12 desktop:grid-col-6 display-flex">
							<div class="display-flex margin-y-1 width-full">
								<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 bg-white text-no-underline">
									<span class="text-primary-darker text-bold">Pay tables</span>
								</a>
							</div>
						</div>
						<div class="grid-col-12 desktop:grid-col-6 display-flex">
							<div class="display-flex margin-y-1 width-full">
								<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 bg-white text-no-underline">
									<span class="text-primary-darker text-bold">Life events</span>
								</a>
							</div>
						</div>
						<div class="grid-col-12 desktop:grid-col-6 display-flex">
							<div class="display-flex margin-y-1 width-full">
								<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 bg-white text-no-underline">
									<span class="text-primary-darker text-bold">Leave options</span>
								</a>
							</div>
						</div>
						<div class="grid-col-12 desktop:grid-col-6 display-flex">
							<div class="display-flex margin-y-1 width-full">
								<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 bg-white text-no-underline">
									<span class="text-primary-darker text-bold">Retirement login</span>
								</a>
							</div>
						</div>
						<div class="grid-col-12 desktop:grid-col-6 display-flex">
							<div class="display-flex margin-y-1 width-full">
								<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 bg-white text-no-underline">
									<span class="text-primary-darker text-bold">Holiday calculator</span>
								</a>
							</div>
						</div>
						<div class="grid-col-12 desktop:grid-col-6 display-flex">
							<div class="display-flex margin-y-1 width-full">
								<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 bg-white text-no-underline">
									<span class="text-primary-darker text-bold">Optimize retirement</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="usa-section">
		<div class="grid-container">
			<div class="grid-row grid-gap border-2px border-base-lighter radius-md overflow-hidden">
				<div class="tablet:grid-col-4 display-flex" style="padding: 0;">
					<img class="height-full width-full display-block" style="object-fit: cover;" src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image"/>
				</div>
				<div class="tablet:grid-col-8 display-flex flex-align-center">
					<div class="padding-x-2 padding-y-4">
						<h2 class="margin-top-0 text-accent-cool-darker font-sans-lg">New Comprehensive Resources for Federal Employees</h2>
						<p>From health insurance to commuter benefits, Feds are covered</p>
						<div class="margin-top-6">
							<a href="#" class="usa-link text-accent-cool-darker text-bold">View Federal Employee Resources</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="usa-section padding-bottom-15">
		<div class="grid-container">
			<div class="grid-row grid-gap">
				<div class="grid-col-12">
					<h2 class="text-accent-cool-darker margin-top-0 margin-bottom-0 desktop:margin-bottom-3">
						Find what you need
					</h2>
				</div>
				<div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-3">
					<div class="margin-y-3 desktop:margin-y-0">
						<div class="border-bottom margin-bottom-2">
							<h3 class="margin-y-0 padding-bottom-2">
								Federal employees
							</h3>
						</div>
						<div>
							<ul class="add-list-reset margin-bottom-4">
								<li>
									<a href="#" class="text-accent-cool-darker display-block padding-y-05">Explore benefits</a>
								</li>
								<li>
									<a href="#" class="text-accent-cool-darker display-block padding-y-05">Cultivate wellness</a>
								</li>
								<li>
									<a href="#" class="text-accent-cool-darker display-block padding-y-05">Career development</a>
								</li>
							</ul>
						</div>
						<div>
							<a href="#" class="text-accent-cool-darker text-bold">All federal employee topics</a>
						</div>
					</div>
				</div>
				<div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-3">
					<div class="margin-y-3 desktop:margin-y-0">
						<div class="border-bottom margin-bottom-2">
							<h3 class="margin-y-0 padding-bottom-2">
								Retirees and family
							</h3>
						</div>
						<div>
							<ul class="add-list-reset margin-bottom-4">
								<li>
									<a href="#" class="text-accent-cool-darker display-block padding-y-05">Explore benefits</a>
								</li>
								<li>
									<a href="#" class="text-accent-cool-darker display-block padding-y-05">Cultivate wellness</a>
								</li>
								<li>
									<a href="#" class="text-accent-cool-darker display-block padding-y-05">Career development</a>
								</li>
							</ul>
						</div>
						<div>
							<a href="#" class="text-accent-cool-darker text-bold">All federal employee topics</a>
						</div>
					</div>
				</div>
				<div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-3">
					<div class="margin-y-3 desktop:margin-y-0">
						<div class="border-bottom margin-bottom-2">
							<h3 class="margin-y-0 padding-bottom-2">
								Job seekers
							</h3>
						</div>
						<div>
							<ul class="add-list-reset margin-bottom-4">
								<li>
									<a href="#" class="text-accent-cool-darker display-block padding-y-05">Explore benefits</a>
								</li>
								<li>
									<a href="#" class="text-accent-cool-darker display-block padding-y-05">Cultivate wellness</a>
								</li>
								<li>
									<a href="#" class="text-accent-cool-darker display-block padding-y-05">Career development</a>
								</li>
							</ul>
						</div>
						<div>
							<a href="#" class="text-accent-cool-darker text-bold">All federal employee topics</a>
						</div>
					</div>
				</div>
				<div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-3">
					<div class="margin-y-3 desktop:margin-y-0">
						<div class="border-bottom margin-bottom-2">
							<h3 class="margin-y-0 padding-bottom-2">
								HR professionals
							</h3>
						</div>
						<div>
							<ul class="add-list-reset margin-bottom-4">
								<li>
									<a href="#" class="text-accent-cool-darker display-block padding-y-05">Explore benefits</a>
								</li>
								<li>
									<a href="#" class="text-accent-cool-darker display-block padding-y-05">Cultivate wellness</a>
								</li>
								<li>
									<a href="#" class="text-accent-cool-darker display-block padding-y-05">Career development</a>
								</li>
							</ul>
						</div>
						<div>
							<a href="#" class="text-accent-cool-darker text-bold">All federal employee topics</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="padding-y-8 bg-accent-cool-light">
		<div class="grid-container">
			<div class="grid-row grid-gap-2">
				<div class="grid-col-12">
					<h2 class="margin-top-0">
						Top tools we offer
					</h2>
				</div>
				<div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-3 display-flex">
					<div class="display-flex margin-y-1 desktop:margin-y-0 width-full">
						<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 bg-white text-no-underline">
							<span class="text-primary-darker text-bold">Healthcare plan comparison</span>
						</a>
					</div>
				</div>
				<div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-3 display-flex">
					<div class="display-flex margin-y-1 desktop:margin-y-0 width-full">
						<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 bg-white text-no-underline">
							<span class="text-primary-darker text-bold">Dental and vision plan comparison</span>
						</a>
					</div>
				</div>
				<div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-3 display-flex">
					<div class="display-flex margin-y-1 desktop:margin-y-0 width-full">
						<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 bg-white text-no-underline">
							<span class="text-primary-darker text-bold">Salary calculator</span>
						</a>
					</div>
				</div>
				<div class="grid-col-12 tablet:grid-col-6 desktop:grid-col-3 display-flex">
					<div class="display-flex margin-y-1 desktop:margin-y-0 width-full">
						<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 bg-white text-no-underline">
							<span class="text-primary-darker text-bold">Retirement calculator</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="usa-section">
		<div class="grid-container">
			<div class="grid-row grid-gap-2">
				<div class="grid-col-12">
					<h2 class="text-accent-cool-darker margin-top-0">OPM.gov guides</h2>
				</div>
				<div class="grid-col-6 tablet:grid-col-4 desktop:grid-col-2 display-flex">
					<div class="display-flex width-full margin-y-1 desktop:margin-y-0">
						<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 text-no-underline">
							<span class="text-primary-darker text-bold">New employees</span>
						</a>
					</div>
				</div>
				<div class="grid-col-6 tablet:grid-col-4 desktop:grid-col-2 display-flex">
					<div class="display-flex width-full margin-y-1 desktop:margin-y-0">
						<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 text-no-underline">
							<span class="text-primary-darker text-bold">Persons with disabilities</span>
						</a>
					</div>
				</div>
				<div class="grid-col-6 tablet:grid-col-4 desktop:grid-col-2 display-flex">
					<div class="display-flex width-full margin-y-1 desktop:margin-y-0">
						<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 text-no-underline">
							<span class="text-primary-darker text-bold">Tribal members</span>
						</a>
					</div>
				</div>
				<div class="grid-col-6 tablet:grid-col-4 desktop:grid-col-2 display-flex">
					<div class="display-flex width-full margin-y-1 desktop:margin-y-0">
						<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 text-no-underline">
							<span class="text-primary-darker text-bold">Contractors</span>
						</a>
					</div>
				</div>
				<div class="grid-col-6 tablet:grid-col-4 desktop:grid-col-2 display-flex">
					<div class="display-flex width-full margin-y-1 desktop:margin-y-0">
						<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 text-no-underline">
							<span class="text-primary-darker text-bold">Postal workers</span>
						</a>
					</div>
				</div>
				<div class="grid-col-6 tablet:grid-col-4 desktop:grid-col-2 display-flex">
					<div class="display-flex width-full margin-y-1 desktop:margin-y-0">
						<a href="#" class="display-flex width-full shadow-2 radius-lg h-full padding-2 text-no-underline">
							<span class="text-primary-darker text-bold">Veterans</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="padding-y-4 bg-accent-cool-darker">
		<div class="grid-container">
			<div class="grid-row grid-gap-2">
				<div class="grid-col-auto tablet:display-flex flex-align-center">
					<svg xmlns="http://www.w3.org/2000/svg" class="height-4 width-4 text-white" viewbox="0 0 24 24"><path fill="currentColor" d="M11.95 18q.525 0 .888-.363t.362-.887q0-.525-.362-.888t-.888-.362q-.525 0-.887.363t-.363.887q0 .525.363.888t.887.362m-.9-3.85h1.85q0-.825.188-1.3t1.062-1.3q.65-.65 1.025-1.238T15.55 8.9q0-1.4-1.025-2.15T12.1 6q-1.425 0-2.312.75T8.55 8.55l1.65.65q.125-.45.563-.975T12.1 7.7q.8 0 1.2.438t.4.962q0 .5-.3.938t-.75.812q-1.1.975-1.35 1.475t-.25 1.825M12 22q-2.075 0-3.9-.787t-3.175-2.138q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22"/></svg>
				</div>
				<div class="grid-col display-flex flex-align-center">
					<div class="grid-row grid-gap-2">
						<div class="grid-col-12 tablet:grid-col-auto display-flex flex-align-center">
							<div class="margin-bottom-2 tablet:margin-bottom-0">
								<span class="text-white font-sans-lg text-bold">Can't find what you're looking for?</span>
							</div>
						</div>
						<div class="grid-col-12 tablet:grid-col-auto display-flex flex-align-center">
							<a href="#" class="usa-button usa-button--outline usa-button--inverse">Get help</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
